<nav class="navbar" style="background-color: #CB5307;">
  <ul class="nav-links" style="display: flex; justify-content: space-around; align-items: center; list-style: none; height: 50px; margin: 0;">
    <li><a href="/map" style="color: #000000;">Map</a></li>
    <li><a href="/list" style="color: #000000;">List</a></li>
    <li><a href="/account" style="color: #000000;">Account</a></li>
    <li><a href="/message" style="color: #000000;">Message</a></li>
  </ul>
</nav>
