<!DOCTYPE html>
<html>
<head>
	<title>Navbar Test</title>
</head>
<body>
	<nav class="navbar" style="background-color: #CB5307;">
	  <ul class="nav-links" style="display: flex; justify-content: space-around; align-items: center; list-style: none; height: 50px; margin: 0;">
	    <li><a href="/../pages/home" style="color: #000000;">Home</a></li> 
		<li><a href="/../pages/map" style="color: #000000;">Map</a></li>
	    <li><a href="/../pages/list" style="color: #000000;">List</a></li>
	    <li><a href="/../pages/account" style="color: #000000;">Account</a></li>
	    <li><a href="/../pages/message" style="color: #000000;">Message</a></li>
	  </ul>
	</nav>
</body>
</html>
