<!DOCTYPE html>
<% var rootDir = process.cwd() %>

<html>
  <head>
    <title>Coding Question</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
      }
      .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
      h1 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #ff8c00;
      }
      p {
        font-size: 18px;
        line-height: 1.5;
        color: #333333;
      }
      .box {
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333333;
      }
    </style>
    <%- include(rootDir + '/views/partials/head'); %>
  </head>
  <body style="padding-top: 60px">
    <!-- Navbar -->
    <%- include(rootDir + '/views/partials/navbar'); %>

    <div class="container">
      <h1>Coding Question Title</h1>
      <% var author = "TempAuthor" %>
      <% var dateCreated = "TempCreated" %>
      <% var description = "Tempdescript" %>

      <p>Created by <%=author %> on <%=dateCreated %> <p>
      <p>
        description;
      </p>
      <div class="box">
        <h2>Input Description</h2>
        <% var InputDesc = "TempInputDesc" %>

        <p>
          InputDesc;
        </p>
      </div>
    
      <div class="box">
        <h2>Sample Input</h2>
        <% var sampleInput= "TempInput" %>

        <p>
          sampleInput;
        </p>
      </div>
    
      <div class="box">
        <h2>Output Description</h2>
        <% var outDesc = "TempOutDesc" %>

        <p>
          outDesc;
        </p>
      </div>
    
      <div class="box">
        <h2>Sample Output</h2>
        <% var SampleOut = "TempOut" %>
        <p>
          SampleOut;
        <p>
      <div>

<html>