<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Welcome back <%- user%>.</h1>
        <h3 class="mb-3">
            <a href="/logout">Logout</a>
        </h3>
    </div>
</body>